<!DOCTYPE html>
<html lang="fr" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Affichage animation scène</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      
    <!--
      TODO Liste
      * résultats => 3 derniers résultats
      * 3 prochains matchs
      * matchs en cours : sous forme de tables
      * chiffres : nbre matchs, nbre matchs joués, nbre équipes homologuées
    -->
  </head>
  <body ng-controller="Matchs">
    <h1>Affichage scène</h1>
    <div class="well">
      Tables : 1 à 5 G->D face au public<br/>
      Planning : 17h30 conférence, 20h30 concert Gospel Tale of Voices à l'église Notre-dame des marais. Demain 2ème, 3ème, 4ème tours, samedi finales et Oldelaf @ Olympe<br/>
      Message des poules : {{ message }}
    </div>
    <table class="table table-striped matchs">
      <tr>
        <th>Table</th>
        <th>Équipe 1</th>
        <th></th>
        <th></th>
        <th>Équipe 2</th>
        <th></th>
      </tr>
      <tr ng-repeat="match in matchs" ng-swipe-right="delete(match.id)" ng-click="delete(match.id)" ng-show="deleted.indexOf(match.id) == -1">
        <td>{{ match.table }}</td>
        <td>{{ match.eq1 }}</td>
        <td>{{ match.score1 }}</td>
        <td>{{ match.score2 }}</td>
        <td>{{ match.eq2 }}</td>
        <td><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </table>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
